/* Common Style */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
/* Nav bar design */
.fa-tiktok {
  color: #000000;
  font-size: 1em;
  text-shadow: 1px 1px #ff3353fc, -1px -1px cyan;
}

.nav-container {
  min-height: 50px;
  display: flex;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 240px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
  display: flex;
  width: 50%;
}
.highlight {
  font-size: 2.8rem;
  font-weight: 700;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.logo-container img {
  width: 50px;
  object-fit: contain;
  margin-right: 20px;
}

.nav-items-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items-container a {
  color: #3c354f;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.button1 {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 18px;
  border: none;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  gap: 10px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-section {
  max-width: 1920px;
}
.banner-container {
  display: flex;
}
.banner-info {
  width: 50%;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 148px 240px 0;
}
.banner-img-container {
  width: 50%;
}

.banner-img {
  padding-right: 240px;
  width: 600px;
}
.banner-info h4 {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-info h1 {
  font-size: 5.9rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-info p {
  color: #534c64;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: lowercase;
}

.sign-in {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 21px 40px;
  border: none;
  align-items: flex-start;
  margin-top: 25px;
  gap: 10px;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.go-rogue {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 21px 40px;
  border: none;
  align-items: flex-start;
  margin-top: 25px;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
}
/* Banner design ends */

/* Game coLLection section starts  */
.game-collection {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 10px;
}
.card {
  width: 220px;
  height: 300px;
  border-radius: 5px;
}
.game-img {
  width: 100%;
}
.game-title {
  margin-top: 10px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.title {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 100px;
}
.collection-text {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}
.gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Game collection section ends */
/* Play section starts here */
.play {
  display: flex;
  gap: 100px;
  align-items: center;
  width: 50%;
  margin: 100px auto 0px auto;
}
.play-title {
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
}
.play-text {
  text-align: right;
  color: #534c64;
  font-size: 1.2rem;
}

.games-wallpaper img {
  width: 400px;
  height: 450px;
  border-radius: 8px;
  margin-left: 50px;
}
.game-wallpaper img {
  width: 150px;
  height: 200px;
  border-radius: 8px;
  border: 10px solid #fff;
}
.game-wallpaper {
  position: relative;
  bottom: 150px;
  right: 100px;
}
/* Play section design ends */

/* Categories section design */
.categories {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.categories-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #0B0223;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 50px;
  background-color: white;
  border: none;
  width: 243px;
  height: 80px;
  cursor: pointer;
}
.categories-button:hover{
    border: 1px solid #ff42a5;
    color: #ff42a5;
    transition: 0.7s;
}
.btn-icon {
  width: 60px;
  height: 60px;
  margin-right: 5px;
}
.game-categories {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 70px 200px;
}
.game-ctg{
    text-align: center;
    
}
/* Responsive design */

/* For Tablet devices */
@media screen and (max-width: 960px) {
  .nav-container {
    padding: 20px 120px;
  }
  .nav-items-container {
    gap: 30px;
  }

  .banner-container {
    flex-direction: column;
  }
  .banner-img {
    padding: 0px;
  }
  .banner-image {
    width: 960px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin: auto;
  }

  .games-wallpaper img {
    margin-left: 10px;
  }
  .categories{
    width: 100%;
  }
  .game-categories{
    margin: 0px auto;
    padding: 70px 100px;
  }
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .nav-container,
  .banner-container {
    flex-direction: column;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .nav-items-container {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 15px;
  }

  .logo-container {
    flex-direction: column;
    gap: 10px;
    width: auto;
    margin: 0 auto;
  }
  .banner-container {
    width: 192px;
  }
  .banner-image {
    width: 575px;
    gap: 10px;
  }
  .banner-img {
    padding: 0px;
  }

  .banner-info h4 {
    font-size: 1.2rem;
  }
  .banner-info h1 {
    font-size: 1.5rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    margin: auto;
  }

  .play {
    flex-direction: column;
    width: 50%;
    margin: 100px auto;
  }
  .play-title,
  .play-text {
    text-align: center;
  }
  .play-title {
    margin-bottom: 50px;
  }
  .game-categories{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
  .game-categories{
    padding: 10px 70px;
  }
  .categories-button{
    width: 150px;
    font-size: 1.2rem
  }
}
